*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family:fa;
    src:url('./font/Yekan.ttf'),url('./font/Yekan.woff?#iefix');
}
@font-face{
    font-family: eng;
    src:url('./font/Muli.ttf'),url('./font/Muli.woff?#iefix');
}
body{
    background-color: #333;
    color: #d5d5d5;
    direction: rtl;
    line-height: 200%;
    font-size: 110%;
    font-family: fa,eng;
    text-indent: 4%;
}

/*code editor*/
#Editor {
    direction: ltr;
    width: 100%;
    height: 500px;
    margin: 0 auto 0 auto;
    font-family: eng;
}

.Keys{
    display: inline-block;
    width: 50%;
     
}

#Key{
    display: none;
    
}

#Output-hide{
    display: none;
}

#Editor textarea,iframe{
    border:2px solid #ddd;
    height:500px;
    display: flex;
    padding: 10px;
    width: calc(100% - 20px);
}

#Editor textarea{
    resize: none;
    font-family: eng;
    background-color: #151718;
    color: #55b5db;
    font-size: 100%;
    display: block;
    font-family: eng;
}

#Editor textarea,input,iframe {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
#Browser{
    background-color: white;
}

#Run{
    text-align: center;
    height: auto;
    width: 100%;
    border-radius: 5px;   
}
.Run__key{
    width: 50%;
    font-size: 90%;
    color: #d5d5d5;
    background-color: #333; 
    font-family: eng;
    border-radius: 10px;
    margin: 10% auto;
    box-shadow:  -4px 4px 13px #242424,
             4px -4px 13px #424242;
    padding: 5%;
    font-weight: bolder;
}

.Run__key:hover{
    box-shadow: inset -4px 4px 10px #242424,
            inset 4px -4px 10px #424242;
    
}
#Code::-webkit-scrollbar{
    width: 8px;

}
#Code::-webkit-scrollbar-thumb{
    background-color: #317b22;
    border-radius: 2.5px;
    background-image: -webkit-linear-gradient(45deg,#84c318 25%, transparent 25%,transparent 50%, #84c318 50%, #84c318 75%, transparent 75%,transparent);
}
#Code::-webkit-scrollbar-track{
    background-color: #e8e1ef;
    border-radius: 2.5px;
    box-shadow: inset 0 0 5px black;
}
#Code::-webkit-scrollbar-thumb:hover{
    background: #84c318;

}