*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family:fa;
    src:url('./font/Yekan.ttf'),url('./font/Yekan.woff?#iefix');
}
@font-face{
    font-family: eng;
    src:url('./font/Muli.ttf'),url('./font/Muli.woff?#iefix');
}
body{
    background-color: #333;
    color: #d5d5d5;
    direction: rtl;
    line-height: 200%;
    font-size: 110%;
    font-family: fa,eng;
    text-indent: 4%;
}

/*code editor*/
#Editor {
    direction: ltr;
    width: 100%;
    height: 500px;
    margin: 0 auto 0 auto;
    font-family: eng;
}

.Keys{
    display: inline-block;
    width: 50%;
     
}

#Key{
    display: none;
    
}

#Output-hide{
    display: none;
}

#Editor textarea,iframe{
    border:2px solid #ddd;
    height:500px;
    display: flex;
    padding: 10px;
    width: calc(100% - 20px);
}

#Editor textarea{
    resize: none;
    font-family: eng;
    background-color: #151718;
    color: #55b5db;
    font-size: 100%;
    display: block;
    font-family: eng;
}

#Editor textarea,input,iframe {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
#Browser{
    background-color: white;
}

#Run{
    text-align: center;
    height: auto;
    width: 100%;
    border-radius: 5px;
    
}
.Run__key{
    width: 50%;
    font-size: 125%;
    color: #8b0000;
    background-color: rgba(213,213,213,0.85); 
    font-family: eng;
    border-radius: 10px;
    box-shadow: 4px 8px 1px #5d5d5d;
    margin: 10% auto;
}

.Run__key:hover{
    font-weight: bold;
    text-shadow: 2.5px 2.5px 2px #1d0000;
    background-color: rgba(213,213,213);
    box-shadow: 4px 8px 1px rgba(213,213,213,0.7);
    
}
